@import "normalize";
@import "breakpoint";

$medium-screen: 768px;

@mixin background($image) {
	background: url(../images/#{$image}) no-repeat;
	background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-position: 50% 50%;
  background-size: cover;
}

html, body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #eeeeee;
}

body {
  position: fixed;
	overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #111111;
}

h1 {
	font-size: 2.5rem;
  margin: .8rem 0;

  @include breakpoint($medium-screen) {
    font-size: 4.2rem;
    margin: 1.7rem 0;
  }
}

h2 {
	font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;

  @include breakpoint($medium-screen) {
    font-size: 2.3rem;
  }
}

main {
	#bckg1 {
		visibility: hidden;
		@include background("city_background.jpg");
	}

	#bckg2 {
		visibility: hidden;
		@include background("bridge_1_background.jpg");
	}

	#bckg3 {
		visibility: hidden;
		@include background("bridge_2_background.jpg");
	}

	.container {
		text-align: center;
		background-color: rgba(0,0,0,0.65);
		padding: 5px 30px 30px 30px;
		border-radius: 5px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		max-width: 1140px;
		width: 90%;

    @include breakpoint($medium-screen) {
  		padding: 10px 50px 50px 50px;
  	}

		form {
			margin: 0 auto;

      input {
        font-size: 16px;
      }
		}

		.alert {
			border-radius: 5px;
		  margin-top: 20px;
		  margin-bottom: 0;
			display: none;
      font-size: 1.3rem;

      @include breakpoint($medium-screen) {
        font-size: 1.7rem;
      }
		}

		#map {
			display: none;
			margin-top: 20px;
			height: 270px;
		}
	}

	footer {
    position: fixed;
    word-spacing: 1px;
    font-weight: 200;
    font-size: 1.7rem;
    bottom: 0;
    width: 100%;

		#footer-content {
      text-align: center;
      font-size: 1.2rem;
      padding-bottom: 1rem;

      @include breakpoint($medium-screen) {
        font-size: 1.7rem;
        padding-bottom: 5rem;
      }

			a {
				color: #ffffff;

				&:hover {
					color: #d3d3d3;
				}
			}
		}
	}
}
